body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.web{
    text-underline-position: under;
}

h1{
    color:#66BFBF;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:  5.625rem; 
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}

.topContainer{
    background-color: #E4F9F5;
    position:relative;
    padding-top: 100px;
}

.middleContainer{
    
}


.bottomContainer{
    
}

.top-cloud{
    position: absolute;
    right: 600px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 600px;
    bottom: 300px;

}

.qiongPhoto{
    object-fit:cover;
    border-radius: 50%;
    width:10%;
    margin-top:20px;
}

.coding-img{
    border-radius: 50%;
    width:43%;
    float: left;
    margin-right:30px;
}
.strenghts-img{
    border-radius: 50%;
    width:35%;
    float:right;
    margin-left:30px;
}

.skill-row{
    width:50%;
    margin:50px auto 50px auto;
    line-height: 2;
    
}
.intro{
    line-height: 2;
    margin:0 auto 100px 600px;
    width:632.5px;
    height:64px;
}

